.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--#{$prefix}white);
  background-color: #1f1f1f;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    align-items: flex-end;
  }

  @media (hover: hover) {

    &:hover {

      .banner-animate {
        transform: translateX(0%);
      }
    }
  }

  &-animate {

    img {

      @include media-breakpoint-down(md) {
        max-width: 8.75rem;
      }
    }

    @media (hover: hover) {
      transition-property: transform;
      transition-duration: 750ms;
      transition-timing-function: cubic-bezier(.35, 1.15, .35, 1.15);
    }

    &--start {

      @media (hover: hover) {
        transform: translateX(-50%);
      }
    }

    &--end {

      @media (hover: hover) {
        transform: translateX(50%);
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
    padding: 1.25rem calc(var(--#{$prefix}gutter-x) * .5);

    h4 {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 1.25rem;

      @include media-breakpoint-up(md) {
      }

      @include media-breakpoint-up(lg) {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}
