.banner {
  display: flex;
  flex-direction: column;
  color: var(--#{$prefix}white);
  background-color: #1f1f1f;
  border-radius: 1rem;
  padding: 1.5rem calc(var(--#{$prefix}gutter-x) * .5);
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0;
  }

  @media (hover: hover) {

    &:hover {

      .banner-animate {
        transform: translateX(0%);
      }
    }
  }

  &-animate {

    img {

      @include media-breakpoint-down(md) {
        max-width: 7.5rem;
      }
    }

    @media (hover: hover) {
      transition-property: transform;
      transition-duration: 750ms;
      transition-timing-function: cubic-bezier(.35, 1.15, .35, 1.15);
    }

    &--start {

      @media (hover: hover) {
        transform: translateX(-50%);
      }

      img {

        @include media-breakpoint-down(md) {
          max-width: 12.5rem;
        }
      }
    }

    &--end {

      @media (hover: hover) {
        transform: translateX(50%);
      }

      @include media-breakpoint-down(md) {
        position: absolute;
        bottom: -3rem;
        right: calc(var(--#{$prefix}gutter-x) * .5);
      }
    }
  }

  &-content {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    order: -10;
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(md) {
      max-width: 100%;
      align-self: center;
      align-items: center;
      gap: 1.25rem;
      text-align: center;
      padding: 1.25rem calc(var(--#{$prefix}gutter-x) * .5);
      order: initial;
    }

    h4 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: normal;
      margin: 0;

      @include media-breakpoint-up(lg) {
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }

  .btn-40px {

    @include media-breakpoint-down(md) {
      --#{$prefix}btn-font-size: .625rem;
      --#{$prefix}btn-padding-y: .25rem;
      --#{$prefix}btn-padding-x: .875rem;

      height: 1.75rem;
      gap: .25rem;
    }

    .icon {

      @include media-breakpoint-down(md) {
        --_size: .75rem;
      }
    }
  }
}
