.br-top,
.br-bottom {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: .0625rem;
    background-image: #{$gradient-border};
    position: absolute;
    left: 0;
    right: 0;
  }
}

.br-top::after {
  top: 0;
}

.br-bottom::after {
  bottom: 0;
}
