.counter {
  --_bg: transparent;
  --_border-radius: 1.25rem;

  display: flex;
  color: var(--#{$prefix}primary);
  background-color: transparent;
  border: var(--#{$prefix}border-width) solid var(--#{$prefix}primary);
  border-radius: var(--_border-radius);

  &-current {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    background-color: var(--_bg);
    margin-block: .25rem;
    padding-inline: .75rem;
    position: relative;

    &::after,
    &::before {
      content: '';
      width: .0625rem;
      display: block;
      flex-shrink: 0;
      pointer-events: none;
      background-image: linear-gradient(180deg, rgba(var(--#{$prefix}primary-rgb), 0) 0%, rgba(var(--#{$prefix}primary-rgb), 1) 50%, rgba(var(--#{$prefix}primary-rgb), 0) 100%);
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }

    .form-control-plaintext {
      max-width: 5ch;
      width: 1em;
      min-width: 0;
      flex: 1 1;
      font-size: inherit;
      padding: 0;
      text-align: center;
    }
  }

  &-btn {
    --#{$prefix}btn-font-size: inherit;
    --#{$prefix}btn-line-height: 1;
    --#{$prefix}btn-border-width: 0;
    --#{$prefix}btn-border-radius: var(--_border-radius);
    --#{$prefix}btn-padding-x: 1rem;

    --#{$prefix}btn-bg: var(--_bg);
    --#{$prefix}btn-hover-bg: var(--_bg);
    --#{$prefix}btn-active-bg: var(--_bg);

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.counter--fill {
  --_bg: var(--#{$prefix}body-bg);
  --_border-radius: var(--#{$prefix}border-radius);

  gap: .125rem;
  font-size: 2rem;
  border: none;
  border-radius: var(--#{$prefix}border-radius);

  .counter-current {
    margin: 0;

    &::after,
    &::before {
      all: unset;
    }

    .form-control-plaintext {
      max-width: 5rem;
      font-size: .75rem;
    }
  }
}

.counter--light {
  --_bg: var(--#{$prefix}white);
}

.counter-lg {

  .counter-current {

    .form-control-plaintext {
      min-height: #{$input-height-lg};
      font-family: var(--#{$prefix}font-roboto);
      font-weight: 700;
      color: var(--#{$prefix}primary);
      @include font-size($input-font-size-lg);

      &::placeholder {
        font-family: var(--#{$prefix}font-sans-serif);
        font-size: .75rem;
        font-weight: 400;
      }
    }

  }
}
