.footer {

  &-contacts {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @include media-breakpoint-up(md) {
      gap: .75rem;
    }

    @include media-breakpoint-up(lg) {
      gap: 1rem;
    }

    .btn-phone {
      --#{$prefix}btn-font-size: #{map-get($font-sizes, '28px')};

      justify-content: start;
      text-align: start;

      @include media-breakpoint-up(lg) {
        --#{$prefix}btn-font-size: #{map-get($font-sizes, '32px')};
      }
    }

    &-callback {
      --#{$prefix}btn-font-size: #{map-get($font-sizes, '10px')};
      --#{$prefix}btn-border-radius: 5rem;
      --#{$prefix}btn-padding-y: #{map-get($spacers, '6px')};
      --#{$prefix}btn-padding-x: #{map-get($spacers, '14px')};

      --#{$prefix}btn-color: var(--#{$prefix}black);
      --#{$prefix}btn-hover-color: var(--#{$prefix}white);
      --#{$prefix}btn-active-color: var(--#{$prefix}black);

      --#{$prefix}btn-bg: linear-gradient(90deg, transparent 0%, transparent 50%, transparent 100%);
      --#{$prefix}btn-hover-bg: linear-gradient(90deg, var(--#{$prefix}teal) 0%, var(--#{$prefix}teal-400) 50%, var(--#{$prefix}teal) 100%);
      --#{$prefix}btn-active-bg: linear-gradient(90deg, transparent 0%, transparent 50%, transparent 100%);

      --#{$prefix}btn-border-color: rgba(var(--#{$prefix}gray-850-rgb), .50);
      --#{$prefix}btn-hover-border-color: linear-gradient(90deg, #ADADAD 0%, var(--#{$prefix}white) 50%, #ADADAD 100%);
      --#{$prefix}btn-active-border-color: rgba(var(--#{$prefix}gray-850-rgb), .50);

      .icon {
        --_size: 1.75rem;

        padding: 0;
      }

      @media (hover: hover) {

        &:is(:hover, :focus-visible) {
          box-shadow: inset 0 0 .875rem 0 rgba(var(--#{$prefix}white-rgb), .70), 0 .25rem 2rem 0 rgba(var(--#{$prefix}teal-rgb), .50);
        }
      }
    }
  }

  .navbar-brand {

    &-link {
      --#{$prefix}btn-color: rgba(var(--#{$prefix}primary-rgb), .70);
      --#{$prefix}btn-hover-color: rgba(var(--#{$prefix}primary-rgb), 1);
      --#{$prefix}btn-active-color: rgba(var(--#{$prefix}primary-rgb), 1);
    }
  }

  .navbar-socials {
    gap: .5rem;

    .nav-link {
      --#{$prefix}btn-color: rgba(var(--#{$prefix}primary-rgb), 1);
      --#{$prefix}btn-hover-color: rgba(var(--#{$prefix}teal-400-rgb), 1);
      --#{$prefix}btn-active-color: rgba(var(--#{$prefix}primary-rgb), 1);

      box-shadow: unset;

      .icon {
        --_size: 1.5rem;

        @include media-breakpoint-up(lg) {
          --_size: 2rem;
        }
      }
    }
  }

  .navbar-contacts {

    .nav-item {

      &-title {
        font-size: .875rem;
      }
    }

    .navbar-socials {
      .nav-link {
        --#{$prefix}btn-color: rgba(var(--#{$prefix}primary-rgb), .5);
        --#{$prefix}btn-hover-color: rgba(var(--#{$prefix}primary-rgb), 1);
        --#{$prefix}btn-active-color: rgba(var(--#{$prefix}primary-rgb), .5);

        .icon {
          --_size: 1.25rem;
        }
      }
    }
  }
}
