.section {
  position: relative;

  &:first-child {
    padding-top: var(--header-height);
  }

  &:not(:nth-child(1), :nth-child(2)) {
    margin-top: 2.5rem;

    @include media-breakpoint-up(lg) {
      margin-top: 5rem;
    }
  }

  &:last-child {
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(lg) {
      margin-top: 5rem;
    }
  }
}
