.separator {
  flex: 1 1 auto;

  & + & {
    margin-top: 1rem;
    padding-top: 1rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      height: .0625rem;
      background-image: #{$gradient-border};
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
