<section class="section">
  <div class="container">
    <div class="banner">
      <picture class="mb-n32px my-md-n32px ms-n48px me-n80px mx-md-n56px mx-lg-n48px banner-animate banner-animate--start">
        <source srcset="./img/telegram/image-1.webp" type="image/webp">
        <img loading="lazy" src="./img/telegram/image-1.png" class="img-fluid" width="440" height="300" alt="Картинка">
      </picture>
      <div class="banner-content">
        <h4>
          Мы в Telegram
        </h4>
        <button type="button" class="btn btn-40px btn-bg-gradient btn-border-gradient btn-telegram">
          <span>Подписаться на канал</span>
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/telegram-2.svg#svg-telegram-2"></use>
            </svg>
          </span>
        </button>
      </div>
      <picture class="mt-n48px mt-md-0px mx-n72px mx-md-n16px mx-lg-0px banner-animate banner-animate--end">
        <source
          srcset="./img/telegram/image-1.webp"
          type="image/webp"
          media="(max-width: 767.98px)"
        />
        <source
          srcset="./img/telegram/image-1.png"
          type="image/png"
          media="(max-width: 767.98px)"
        />
        <source srcset="./img/bg/banner-tg-2.webp" type="image/webp">
        <img loading="lazy" src="./img/bg/banner-tg-2.png" class="img-fluid" width="344" height="189" alt="Картинка">
      </picture>
    </div>
  </div>
</section>
