<div class="alert" role="alert">
  <span class="alert-background d-none d-lg-block" style="background-image: url(./img/bg/banner.webp);"></span>
  <span class="alert-background d-lg-none" style="background-image: url(./img/bg/banner--mobile.webp);"></span>
  <div class="alert-content">
    <h4 class="alert-heading">Нужна помошь в выборе устройства?</h4>
    <p class="d-none d-lg-block">
      Закажите бесплатный обратный звонок и наши специалисты свяжутся с вами
    </p>
    <div class="d-flex flex-lg-row flex-column align-self-lg-center align-self-stretch">
      <button type="button" class="btn btn-bg-gradient btn-border-gradient alert-btn"
        data-bs-toggle="modal"
        data-bs-target="#modal-order">
        <span>Заказать обратный звонок</span>

        <span class="icon">
          <svg>
            <use xlink:href="img/icons/phone-bordered.svg#svg-phone-bordered"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>
