<div class="card">
  <div class="card-tags">
    <div class="badge badge--instock">
      В наличии
    </div>
    <div class="badge badge--popular">
      Популярные
    </div>
  </div>
  <div class="card-picture">
    <picture>
      <source srcset="./img/card/image-1.webp" type="image/webp">
      <img loading="lazy" src="./img/card/image-1.png" class="img-fluid" width="205" height="153" alt="Картинка">
    </picture>
  </div>
  <div class="card-body">
    <div class="card-content">
      <h5 class="card-title">
        Whatsminer M60S+, 186TH/s
      </h5>
      <div class="card-tags">
        <div class="badge badge--instock">
          В наличии
        </div>
        <div class="badge badge--popular">
          Популярные
        </div>
      </div>
      <ul class="card-list">
        <li>
          <dl>
            <dt>
              Монета
            </dt>
            <dd>
              BTC
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              Окупаемость
            </dt>
            <dd>
              20.6 мес.
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              Доход
            </dt>
            <dd>
              163 216 ₽ / мес.
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-price">
      <div class="card-price-value">
        <p>
          6 560 ₽
        </p>
      </div>
      <div class="card-price-name">
        <p>
          Цена указана с НДС
        </p>
      </div>
    </div>
    <div class="card-actions">
      <button type="button" class="btn btn-sm btn-teal-400">
        Заказать
      </button>
      <a href="./product.html" class="btn btn-sm btn-outline-primary">
        Подробнее
      </a>
    </div>
  </div>
</div>
