@if (type === "default") {
  <div class="card">
    @if (tags) {
      <div class="card-tags">
        @if (tags.indexOf('instock') > -1) {
          <div class="badge badge--instock">В наличии</div>
        }
        @if (tags.indexOf('new') > -1) {
          <div class="badge badge--new">Новинки</div>
        }
        @if (tags.indexOf('popular') > -1) {
          <div class="badge badge--popular">Популярные</div>
        }
        @if (tags.indexOf('dearer') > -1) {
          <div class="badge badge--dearer">Дороже</div>
        }
        @if (tags.indexOf('cheaper') > -1) {
          <div class="badge badge--cheaper">Дешевле</div>
        }
        @if (tags.indexOf('order') > -1) {
          <div class="badge">Под заказ</div>
        }
      </div>
    }
    <div class="card-picture">
      <picture>
        <source srcset="./img/card/@img.src.webp" type="image/webp">
        <img loading="lazy" src="./img/card/@img.src.png" class="img-fluid" width="204" height="155" alt="Картинка">
      </picture>
    </div>
    <div class="card-body">
      <div class="card-content">
        <div class="card-price">
          <div class="card-price-value">
            <p>
              6 560 ₽
            </p>
          </div>
        </div>
        <h5 class="card-title">
          Whatsminer M60S+, 186TH/s
        </h5>
        @if (tags) {
          <div class="card-tags">
            @if (tags.indexOf('instock') > -1) {
              <div class="badge badge--instock">В наличии</div>
            }
            @if (tags.indexOf('new') > -1) {
              <div class="badge badge--new">Новинки</div>
            }
            @if (tags.indexOf('popular') > -1) {
              <div class="badge badge--popular">Популярные</div>
            }
            @if (tags.indexOf('dearer') > -1) {
              <div class="badge badge--dearer">Дороже</div>
            }
            @if (tags.indexOf('cheaper') > -1) {
              <div class="badge badge--cheaper">Дешевле</div>
            }
            @if (tags.indexOf('order') > -1) {
              <div class="badge">Под заказ</div>
            }
          </div>
        }
        @if (list) {
          <ul class="card-list">
            @for (var i = 0; i < list.length; i++) {
              <li>
                <dl>
                  <dt>
                    `+list[i].name+`
                  </dt>
                  <dd>
                    `+list[i].value+`
                  </dd>
                </dl>
              </li>
            }
          </ul>
        }
      </div>
    </div>
    <div class="card-footer">
      <div class="card-price">
        <div class="card-price-value">
          <p>
            6 560 ₽
          </p>
        </div>
        <div class="card-price-name">
          <p>
            Цена указана с НДС
          </p>
        </div>
      </div>
      <div class="card-actions">
        <button type="button" class="btn btn-sm btn-teal-400"
          data-bs-toggle="modal"
          data-bs-target="#modal-order">
          Заказать
        </button>
        <a href="./product.html" class="btn btn-sm btn-outline-primary">
          Подробнее
        </a>
      </div>
    </div>
  </div>
}

@if (type === "calc") {
  <div class="card card--calc">
    <div class="card-picture">
      <picture>
        <source srcset="./img/card/@img.src.webp" type="image/webp">
        <img loading="lazy" src="./img/card/@img.src.png" class="img-fluid" width="205" height="153" alt="Картинка">
      </picture>
    </div>
    <div class="card-body">
      <div class="card-content">
        <h5 class="card-title">
          Whatsminer M60S+, 186TH/s
        </h5>
        @if (list) {
          <ul class="card-list">
            @for (var i = 0; i < list.length; i++) {
              <li>
                <dl>
                  <dt>
                    `+list[i].name+`
                  </dt>
                  <dd>
                    `+list[i].value+`
                  </dd>
                </dl>
              </li>
            }
          </ul>
        }
      </div>
    </div>
  </div>
}
