<footer class="footer pb-80px">
  <div class="container">
    <div class="d-flex flex-column flex-xl-row gap-24px justify-content-lg-between br-top pt-24px pt-lg-80px">
      <div class="footer-contacts">
        <div class="d-flex flex-column gap-2px gap-md-8px gap-lg-16px">
          <p class="fs-14px fs-md-16px fw-semibold m-0px">Свяжитесь с нами</p>
          <div class="d-flex align-items-center gap-16px">
            <a href="tel:+88004444852" class="btn btn-phone">8 800 4444 852</a>

            <ul class="navbar-socials">
              <li class="navbar-item">
                <a href="#" class="btn nav-link">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/telegram-fill.svg#svg-telegram-fill"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="navbar-item">
                <a href="#" class="btn nav-link">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/whatsapp-2.svg#svg-whatsapp-2"></use>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <button type="button" class="btn btn-40px btn-bg-gradient btn-border-gradient btn-has-icon footer-contacts-callback"
            data-bs-toggle="modal"
            data-bs-target="#modal-order">
            <span>Заказать обратный звонок</span>
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/phone-bordered.svg#svg-phone-bordered"></use>
              </svg>
            </span>
          </button>
        </div>
      </div>

      <nav class="navbar navbar-footer">
        <ul class="navbar-nav">
          <li class="nav-item">
            <h3 class="nav-item-title">
              О компании
            </h3>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="#">
              История и миссия
            </a>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="#">
              Сертификаты и лицензии
            </a>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="#">
              Партнёры и клиенты
            </a>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="#">
              Новости
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <h3 class="nav-item-title">
              Продукты и решения
            </h3>
          </li>
          <li class="nav-item">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h4 class="nav-item-title">
                  Майнинг-оборудование
                </h4>
              </li>
              <li class="nav-item">
                <a class="btn nav-link" href="#">
                  ASIC-майнеры
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h4 class="nav-item-title">
                  Оборудование для дата-центров
                </h4>
              </li>
              <li class="nav-item">
                <a class="btn nav-link" href="#">
                  Контейнеры для майнинга
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h4 class="nav-item-title">
                  Системы электрификации
                </h4>
              </li>
              <li class="nav-item">
                <a class="btn nav-link" href="#">
                  Генераторы и Электростанции
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <h3 class="nav-item-title">
              Услуги
            </h3>
          </li>
          <li class="nav-item">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h4 class="nav-item-title">
                  Размещение в дата центрах
                </h4>
              </li>
              <li class="nav-item">
                <a class="btn nav-link" href="#">
                  Дата-центр в Эфиопии
                </a>
              </li>
              <li class="nav-item">
                <a class="btn nav-link" href="#">
                  Дата-центр в Росии
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="d-contents d-md-flex flex-md-column gap-md-20px">
          <ul class="navbar-nav">
            <li class="nav-item">
              <h3 class="nav-item-title">
                Финансовые инструменты
              </h3>
            </li>
            <li class="nav-item">
              <a class="btn nav-link" href="#">
                Лизинг оборудования
              </a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link" href="#">
                Рассрочка под обеспечение
              </a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link" href="#">
                Факторинг
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <h3 class="nav-item-title">
                Калькулятор ROI
              </h3>
            </li>
            <li class="nav-item">
              <a class="btn nav-link" href="#">
                Расчет доходности майнинга
              </a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link" href="#">
                Лизинговый калькулятор
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between gap-20px mt-24px mt-lg-40px pt-24px pt-lg-48px br-top">
      <div class="navbar navbar-contacts flex-nowrap align-items-stretch justify-content-between justify-content-sm-start gap-8px gap-md-24px gap-lg-32px gap-xl-40px">
        <ul class="navbar-nav flex-fill">
          <li class="nav-item">
            <h3 class="nav-item-title">
              Контакты
            </h3>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="#">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/phone.svg#svg-phone"></use>
                </svg>
              </span>
              <span>+7 (XXX) XXX-XX-XX</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="#">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/email.svg#svg-email"></use>
                </svg>
              </span>
              <span>info@rustex.ru</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="#">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/location.svg#svg-location"></use>
                </svg>
              </span>
              <span>Москва, ул.&nbsp;Примерная, д.&nbsp;1</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav flex-fill">
          <li class="nav-item">
            <h3 class="nav-item-title fs-12px fs-lg-14px">
              Мы в социальных сетях
            </h3>
          </li>
          <li class="nav-item">
            <ul class="navbar-socials">
              <li class="navbar-item">
                <a href="#" class="btn nav-link">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/rbk.svg#svg-rbk"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="navbar-item">
                <a href="#" class="btn nav-link">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/vk.svg#svg-vk"></use>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center gap-16px">
        @include('brand.html')
      </div>
    </div>
  </div>
</footer>
