<header class="header">
  <div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg">
      <div class="offcanvas offcanvas-end" tabindex="-1"
        id="offcanvas-header">
        <div class="offcanvas-header">
          <button type="button" class="btn btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/close.svg#svg-close"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="offcanvas-body">
          @include('brand.html')

          <div class="navbar-main">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="btn btn-border-gradient nav-link active" aria-current="page" href="./">
                  Купить asic-майнер
                </a>
              </li>
              <li class="nav-item">
                <a class="btn btn-border-gradient nav-link" href="./">
                  Комплексные решения
                </a>
              </li>
              <li class="nav-item">
                <a class="btn btn-border-gradient nav-link" href="#">
                  Дата - центр в Эфиопии
                </a>
              </li>
              <li class="nav-item">
                <a class="btn btn-border-gradient nav-link" href="#">
                  О нас
                </a>
              </li>
            </ul>

            <ul class="navbar-socials">
              <li class="navbar-item">
                <a href="#" class="btn nav-link">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="navbar-item">
                <a href="#" class="btn nav-link">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </div>

          <a href="tel:+88009909999" class="btn btn-phone">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/phone.svg#svg-phone"></use>
              </svg>
            </span>
            <span>
              8 800 990 99 99
            </span>
          </a>
        </div>
      </div>
    </nav>

    <div class="header-end">
      @include('brand.html')
      <button class="btn navbar-toggler" type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvas-header"
        aria-controls="offcanvas-header"
        aria-label="Toggle navigation">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/menu.svg#svg-menu"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</header>
