<div class="new">
  <div class="new-header">
    <picture class="new-picture">
      <source srcset="./img/new/@img.src.webp" type="image/webp">
      <img loading="lazy" src="./img/new/@img.src.png" width="@img.width" height="@img.height" alt="Картинка">
    </picture>
  </div>
  <div class="new-main">
    <time datetime="" class="new-time">
      @time
    </time>
    <h3 class="new-title">
      @title
    </h3>
  </div>
  <div class="new-footer">
    <a href="#" class="btn btn-plaintext btn-has-icon stretched-link new-link">
      <span>Подробнее</span>
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/arrow-right-bordered.svg#svg-arrow-right-bordered"></use>
        </svg>
      </span>
    </a>
  </div>
</div>
